{% extends "AdoptaMascotas/templates/base.html" %}


{% block content %}


<div>
	<h2 align="center" >Listado de Mascotas</h>
</div>

{% for mascota in mascotas %}
	<div>

		<h3 align="center" style="color: red">Nombre : <p style="color: blue">{{mascota.nombre}}</p></h> 

		<img  align="center" src={{mascota.imagen}}>
		
		<h5  align="center" style="color: green">Sexo : <p style="color: black">{{mascota.sexo }}</p></h>
		<h5  align="center" style="color: green">Raza : <p style="color: black">{{mascota.raza }}</p></h>

		 
	</div>


{% endfor %}

</div>


{% endblock %}