{% extends "AdoptaMascotas/templates/base.html" %}


{% block content %}


<div>
	<h2 align="center" >Mascotas para Adopción</h>
</div>

{% for mascota in mascotas %}
<div class="container" >
	<div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 g-3">
	  <div class="col">
		<div class="card shadow -sm" style="width: 20rem; height: 26rem;  background-color:LightYellow;">

			<h3 align="center" style="color: red">Te está esperando <p style="color: blue">{{mascota.nombre}}</p></h> 

			<img  align="center" src={{mascota.imagen}}>
			
			<h5  align="center" style="color: green">Sexo : <p style="color: black">{{mascota.sexo }}</p></h>
			
			<h5  align="center" style="color: green">Raza : <p style="color: black">{{mascota.raza }}</p></h>
			
			<h5 align="center" style="color: red">Te cuento algo mas : <p style="color: black">{{mascota.contenido}}</p></h5>	


			<a href="{% url 'mascota:postularAdopcion' mascota.id %}"> Adoptame  </a>
			<!-- lleva los datos al formulario como diccionario -->	

			 
		</div>
	  </div>
	</div>
</div>
{% endfor %}

</div>


{% endblock %}