{% extends "AdoptaMascotas/templates/base.html" %}


{% block content %}
<div>   </div>

	
<form method="post">
	{% csrf_token %}
	
<div class="center" class="row">
	<div class="col -md-6 col -md-offset-3">
		<div class="form-group">
			<p></p>
			<label for='username'>Nombre de Usuario</label>
			<input class="form-control" type="text" name="username">
		</div>
	</div>
</div>


<div class="center" class="row">
	<div class="col -md-6 col -md-offset-3">
		<div class="form-group">
			<p></p>
			<label for='username'>Contraseña</label>
			<input class="form-control" type="password" name="password">
		</div>
	</div>
</div>

<div class="center" class="row">
	<div class="col -md-6 col -md-offset-3">
		<div class="form-group">
			<p></p>
			<a href="#">Olvidé mi contraseña</a>
			<input class="btn btn-primary" type="submit" value="Ingresar">
		</div>
	</div>
</div>

<p></p>
	<p></p>
	<p></p>
	<p></p>
	<p></p>
</form>

{% endblock %}