{% extends "AdoptaMascotas/templates/base.html" %}


{% block content %}


<div>
	<h2 align="center" >Mascotas en Adopcion</h>
</div>

{% for publicacion in publicaciones %}
	<div class="card" style="width: 18rem;">

		
		<img  align="center" src={{mascota.imagen}}>
		<h3 align="center" style="color: red">Mascota : <p style="color: blue">{{publicacion.titulo}}</p></h3> 

		<div class="card-body">	
		<h5 align="center" style="color: red">Contenido : <p style="color: black">{{publicacion.contenido}}</p></h5>
		<h5 align="center" style="color: black">Fecha Publicación : <p style="color: black">{{publicacion.fecha_publicacion}}</p></h5>
		<h5 align="center" style="color: black">Autor : <p style="color: black">{{publicacion.autor}}</p></h5>
		<p class="card-text">Si te interesa, podes postularte para adoptarlo. De todos los postulantes, elegiremos el mas adecuado para {{publicacion.titulo}} </p>
    
		 <a href="#" class="btn btn-primary">Me postulo</a>
		</div>
	</div>


{% endfor %}

</div>


{% endblock %}