{% extends "AdoptaMascotas/templates/base.html" %}


{% block content %}


<div>
	<h2 align="center" >Mascotas en Adopcion</h>
</div>

{% for publicacion in publicaciones %}
	<div class="card" style="width: 18rem; float:left; background-color:LightYellow;">

		
		<img  align="center" src={{mascota.imagen}}>
		<h3 align="center" style="color: red">Te está esperando  <p style="color: blue">{{publicacion.titulo}}</p></h3> 

		<div class="card-body">	
		<h5 align="center" style="color: red">Te cuento : <p style="color: black">{{publicacion.contenido}}</p></h5>
		<h5 align="center" style="color: black">Fecha Publicación : <p style="color: black">{{publicacion.fecha_publicacion}}</p></h5>
		<h5 align="center" style="color: black">Autor : <p style="color: black">{{publicacion.autor}}</p></h5>
		<p class="card-text">Si te interesa, podes postularte para adoptarlo. De todos los postulantes, elegiré el mas adecuado para <strong> {{publicacion.titulo}} </strong></p>
    
		 <!-- <a href="#" class="btn btn-primary">Me postulo</a> -->
		 
		<form name = "mepostulo" method = "get" action="mePostulo">
			{% csrf_token %}
		   <input name="mepostulo" class="btn btn-primary" type = "submit"  value="Me Postulo"/>
		</form>

		</div>
	</div>


{% endfor %}

</div>


{% endblock %}