{% extends "AdoptaMascotas/templates/base.html" %}

{% load static %}

{% block content %}

</header>
<div class="top_block">
  <div class="slider-relative">
    <div class="slider-block">
      <div class="slider">
        <ul class="items">
          <li><img src="images/slide-01.jpg" alt="">
            <div class="banner">Ellos Necesitan de tu <span>Amor</span> y <br>tu <i>Cuidado</i>
              <p>Es muy fácil <br>hacerlos felices</p>
            </div>
          </li>
          <li><img src="images/slide-02.jpg" alt="">
            <div class="banner">Ellos Necesitan de tu <span>Amor</span> y <br> tu <i>Cuidado</i>
              <p>Es fácil hacerlos felices</p>
            </div>
          </li>
          <li><img src="images/slide-03.jpg" alt="">
            <div class="banner">Ellos Necesitan de tu <span>Amor</span> y <br>tu <i>Cuidado</i>
              <p>Es fácil hacerlos felices</p>
            </div>
          </li>
          <li><img src="images/slide-04.jpg" alt="">
            <div class="banner">Ellos Necesitan de tu <span>Amor</span> y <br>tu <i>Cuidado</i>
              <p>Es muy fácil <br>hacerlos felices</p>
            </div>
          </li>
        </ul>
      </div>
    </div>
  </div>
</div>
<div class="page1_block">
  <div class="container_12">
    <div class="grid_6">
      <h2>Bienvenidos</h2>
      <br>
      <img src="images/pagina1-mascotas-tiernas.jpg" alt="" class="img_inner fleft">
      <div class="extra_wrapper style1">
        <p class="text1"><a href="#">Click Acá</a> para mas información sobre nuestro sitio de Adopcion de Mascotas </p>
        Podras publicar o postularte para adoptar . </div>
      <div class="clear"></div>
      En nuestro sitio tenemos muchas mascotas que necesitan un dueño bueno, comprensivo, que las cuide como se merece todo ser vivo.<br>
      Podrás PUBLICAR una mascota para que sea adoptada<br>
      Podrás ADOPTAR una mascota. Para ello debes POSTULARTE y el dueño de la mascota te dará un puntaje de acuerdo a tu perfil.

      <a href="#" class="btn">Mas..</a> </div>
    <div class="grid_5 prefix_1">
      <h2 class="ic1">Ultimas Noticias</h2>
      <ul class="list">
        <li> <span>
          <time datetime="2045-01-01">27<span>APR</span></time>
          </span>
          <div class="extra_wrapper">
            <div class="col1"><a href="#">Duis posuere consectetur pellentesqe;</a>
              <time datetime="2045-01-01">April 27.03.45</time>
            </div>
            Sed nisi turpis, pellentesque at ultrices in dapibus in magna. Nunc easi diam risus,placerat ut scelerisque suscipit eu ante. Nullam vitae dolor ullcper felises</div>
        </li>
        <li> <span class="cnt">
          <time datetime="2045-01-01">28<span>APR</span></time>
          </span>
          <div class="extra_wrapper">
            <div class="col1"><a href="#">Kuuis posuere consectetur pellentes;</a>
              <time datetime="2045-01-01">April 28.03.45</time>
            </div>
            Eed nisi turpis, pellentesque at ultrices in dapibus in magna. Nunc easi diam risulacerat ut scelerisque et suscipit eu ante. Nullam vitae dolor ullcper felises. </div>
        </li>
        <li> <span>
          <time datetime="2045-01-01">29<span>APR</span></time>
          </span>
          <div class="extra_wrapper">
            <div class="col1"><a href="#">Opuis posuere honsectetur pellentesyt;</a>
              <time datetime="2045-01-01">April 29.03.45</time>
            </div>
            Koed nisi turpis, pellentesque at ultrices in dapibus in magna. Nunc easi diam risujo placerat ut scelerisque et suscipit eu ante. Ullam vitae dolor ullcper felises. </div>
        </li>
      </ul>
    </div>
  </div>
</div>
<div class="content page1">
  <div class="container_12">
    <div class="grid_12"> <a href="#" class="next"></a><a href="#" class="prev"></a>
      <h2>Mascotas para Adopcion</h2>
    </div>
    <div class="clear"></div>
    <ul class="carousel1">
      <li class="grid_4"> <img src="images/carousel1_img1.jpg" alt="" class="img_inner fleft">
        <div class="extra_wrapper pad1">
          <p class="col2"><a href="#">Praesent quis orcidiam viverralopr </a></p>
          Raes quis orci eget diam viverralopr con equat. Fusce sagit quam ihui hyhy kolo opirlo pulvinarhjkjo. </div>
      </li>
      <li class="grid_4"> <img src="images/carousel1_img2.jpg" alt="" class="img_inner fleft">
        <div class="extra_wrapper pad1">
          <p class="col2"><a href="#">Aeraesent quis hoj rcieget diam iverral.</a></p>
          Loaesent quis orci diam viverralopr con equat. Lusce sagittis quam ihui hyhy opir pulvinarhjk velit. </div>
      </li>
      <li class="grid_4"> <img src="images/carousel1_img3.jpg" alt="" class="img_inner fleft">
        <div class="extra_wrapper pad1">
          <p class="col2"><a href="#">Tyeraesent quis hojo rcieget iam iverralji.</a></p>
          Eroaesent quis orci ediam viverralopr con jikjulo poiu retyulo hyk equat. Usce sagittis ki quam ihui hyhy opirp. </div>
      </li>
      <li class="grid_4"> <img src="images/carousel1_img4.jpg" alt="" class="img_inner fleft">
        <div class="extra_wrapper pad1">
          <p class="col2"><a href="#">Aeraesent quis hoj rcieget diam iverral.</a></p>
          Loaesent quis orci diam viverralopr con equat. Lusce sagittis quam ihui hyhy opir pulvinarhjk velit. </div>
      </li>
      <li class="grid_4"> <img src="images/carousel1_img5.jpg" alt="" class="img_inner fleft">
        <div class="extra_wrapper pad1">
          <p class="col2"><a href="#">Aeraesent quis hoj rcieget diam iverral.</a></p>
          Loaesent quis orci diam viverralopr con equat. Lusce sagittis quam ihui hyhy opir pulvinarhjk velit. </div>
      </li>
      <li class="grid_4"> <img src="images/carousel1_img6.jpg" alt="" class="img_inner fleft">
        <div class="extra_wrapper pad1">
          <p class="col2"><a href="#">Aeraesent quis hoj rcieget diam iverral.</a></p>
          Loaesent quis orci diam viverralopr con equat. Lusce sagittis quam ihui hyhy opir pulvinarhjk velit. </div>
      </li>
    </ul>
  </div>
</div>
<div class="bottom_block">
  <div class="container_12">
    <div class="grid_6">
      <h2>TIPs para el Cuidado de tu Mascota</h2>
      <br>
      <ol type="A">
        <strong>
        <li>o-- Identifica a tu mascota</li>
        <li>o-- No dejes objetos peligrosos a su alcance</li>
        <li>o-- Ofrécele una alimentación de calidad</li>
        <li>o-- Lávalo y cepíllalo con asiduidad</li>
        <li>o-- Llévalo al veterinario de forma periodica</li>
        <li>o-- No lo dejes solo</li>
        <li>o-- Premia su buen comportamiento y acarícialo.</li>
        </strong>
      </ol>
      </div>
    <div class="grid_4 prefix_2">
      <h2 class="ic1">¿Alguna Duda?</h2>
      <img src="images/pagina1-04.jpg" alt="" class="fleft img_inner">
      <div class="extra_wrapper">
        <div class="cont"> Llame al : <span>+54 800 123 4567</span> </div>
      </div>
      <div class="clear"></div>
      <strong>No dudes en llamarnos. Trataremos de evacuar todas tus dudas. Lo mas importante son ellos: nuestras mascotas. </strong></div>
  </div>
</div>

{% endblock %}